.logon-container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.logon-container header{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;

}

.logon-container header button{

    width: 250px;
    color: #e02041;
    background-color: #fff;
    border: 1px solid #dcdce6;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0;

}

.logon-container header button svg{
    margin-right: 8px;
}

.logon-container .siteContentContainer {
    
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}


.logon-container section.form{

    widows: 100%;
    max-width: 350px;
    margin: 0 30px;

}

.logon-container section.form form{


}

.logon-container section.form form h1{

    font-size: 32px;
    margin-bottom: 32px;

}

.siteContentContainer .img{
    margin:0 200px;
    width: 400px;
}

.logon-container aside{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    max-width: 350px;
}
.logon-container aside img{
    width: 150px;
}

.logon-container aside h1{
    text-align: center;
    margin-top: 20px;
}